{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protocolos</title>
    <link rel="stylesheet" href="{% static 'protocolos/style.css' %}">
</head>


<body>

<div class="retangulo">

    <div class="header">
        <a href="{% url 'dashboard' %}">
            <button class="voltar-botton">&#8592;</button>
        </a>
        <h1>Protocolos</h1>
    </div>

    <div class="busca">
        <span class="icone-busca">🔎</span>
        <input type"text" placeholder="Buscar protocolos...">
    </div>

    <button class="btn">
        <span>⚙️</span> Filtrar protocolos
    </button>

    <button class="btn">
        <span>🧮</span> Calculadora
    </button>

    <div class="tabs">
        <button class="tab ativo">Todos</button>
        <button class="tab">Favoritos</button>
        <button class="tab">Recentes</button>
    </div>

<a href="{% url 'detalhes_do_protocolo' %}" style="text-decoration: none;">
    <div class="sub_header">

        <div class = "sub_header_interna">
            <div class = "primeiro_card">
                <h2>Dengue</h2>
                <button class="estrela_de_favorito">⭐</button>
            </div>
            <div class="sub_header_interna_interna">
                uma doença infecciosa febril aguda, transmitida pela picada da fêmea do mosquito Aedes aegypti. É caracterizada por febre alta, dores no corpo/articulações, dor atrás dos olhos e manchas vermelhas.
            </div>
        </div>
    </div>
</a>

<a href="{% url 'detalhes_do_protocolo' %}" style="text-decoration: none;">
    <div class="sub_header">

        <div class = "sub_header_interna">
            <div class = "primeiro_card">
                <h2>Sedação</h2>
                <button class="estrela_de_favorito">⭐</button>
            </div>
            <div class="sub_header_interna_interna">
                Breve descrição
            </div>
        </div>
    </div>
</a>

</div>



</body>
</html>