{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Pacientes</title>
    <link rel="stylesheet" href="{% static 'dashboard/historico.css' %}">
</head>
<body>

<div class="page">

    <!-- HEADER -->
    <div class="page-header">
        <a href="{% url 'dashboard' %}" class="btn-voltar" title="Voltar">
            <img src="{% static 'dashboard/icons/Seta_sair_vetorizada.png' %}"
                 alt="Voltar" width="42" height="42">
        </a>
        <div class="page-title">
            <h1>Histórico</h1>
            <p class="paciente-id">Lista de pacientes</p>
        </div>
    </div>

    <!-- GRID DE CARDS -->
    <div class="cards-grid">

        {% for paciente in pacientes %}
            <a href="{% url 'historico_paciente' paciente.id %}" class="card-consulta">
                <div>
                    <p class="consulta-label">{{ paciente.nome_completo }}</p>
                    <p class="consulta-data">{{ paciente.data_nascimento|date:"d/m/Y" }}</p>
                </div>
                <span class="consulta-plus">+</span>
            </a>
        {% empty %}
            <div class="sem-consultas">
                Nenhum paciente cadastrado.
            </div>
        {% endfor %}

    </div>

</div>

</body>
</html>