{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumos</title>
    <link rel="stylesheet" href="{% static 'usuarios/usuarios.css' %}">
    
</head>

<body>
    

    <header>
        
        <div class="header-content">

            <div class="header-logo">
                <svg width="151" height="141" viewBox="0 0 101 91" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M101 51.3648C70.4503 108.82 15.2975 101.957 0 39.3446C29.9595 -17.931 85.1578 -11.6069 101 51.3648ZM82.3888 20.6863C72.4476 8.17269 53.4733 9.69764 34.0903 24.6781C14.7074 39.6585 8.57932 57.6889 18.5204 70.1577C28.4616 82.6264 47.3452 81.0118 66.8189 65.8968C86.2926 50.7818 92.1483 33.0205 82.3434 20.6414L82.3888 20.6863Z" fill="#4285F4"/>
                    <path d="M50.5 73.9059C66.2401 73.9059 79 61.1116 79 45.3289C79 29.5463 66.2401 16.752 50.5 16.752C34.7599 16.752 22 29.5463 22 45.3289C22 61.1116 34.7599 73.9059 50.5 73.9059Z" fill="#4285F4"/>
                    <path d="M63.8182 60.0655C51.5455 47.9901 50 47.8559 36 57.9188C48.2727 45.8434 48.4091 44.3228 38.1818 30.5479C50.4545 42.6233 52 42.7574 66 32.7393C53.7273 44.8147 53.5909 46.2906 63.8182 60.1103V60.0655Z" fill="white"/>
                </svg>
            </div>

        </div>

    </header>

    <main>

        <section class = "login-section">
            <div class = "container">

                <div class = "login-card">
                    <h1 class = "titulo">Acesse sua conta</h1>

                    {% if erro %}
                    <div class = "login-error">
                        ⚠️ {{ erro }}
                    </div>
                    {% endif %}

                    <!--FORMULÁRIO-->

                    <form method="post">
                        {% csrf_token %}

                        

                        <div class="form-group">

                            <div class="input-wrapper">

                                <input
                                    type="text"
                                    id="id_acesso"
                                    name="id_acesso"
                                    placeholder="ID"
                                    required
                                >

                            </div>

                        </div>

                        <div class="form-group">

                        <div class="input-wrapper">


                                <input
                                    type="password"
                                    id="password"
                                    name="password"
                                    placeholder="Senha"
                                    required
                                >

                                <img
                                    src="{% static 'usuarios/icons/eye.svg' %}"
                                    class="toggle-password"
                                    id="togglePassword"
                                    alt="Mostrar senha"

                                    data-eye="{% static 'usuarios/icons/eye.svg' %}"
                                    data-eye-off="{% static 'usuarios/icons/eyeoff.svg' %}"
                                >

                            </div>

                        </div>
                            
                        <button type="submit" class="btn-primary btn-full">
                                Entrar
                        </button>

                        <a href="#" class="link-forgot">
                                Esqueceu sua senha?
                        </a>

                    </form>

                    <p class="login-signup">
                        Não tem conta?
                        <a href="{% url 'register' %}">Cadastre-se Já!</a>
                    </p>
                </div>

            </div>

        </section>



        

    </main>


<script>

    const passwordInput = document.getElementById("password");
    const togglePassword = document.getElementById("togglePassword");

    togglePassword.addEventListener("click", () => {

        const isPassword = passwordInput.type === "password";

        passwordInput.type = isPassword ? "text" : "password";

        togglePassword.src = isPassword
            ? togglePassword.dataset.eyeOff
            : togglePassword.dataset.eye;
    });

</script>


</body>
</html>