* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8FBFFA;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.container {

    background-color: #8FBFFA;
    width: 100%;
    max-width: 1200px;
    height: 600px;
    border-radius: 40px;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 0px;
}

.circulo {
    width: 130px;
    height: 130px;

    background-color: hsl(0, 2%, 25%);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
}

.circulo span {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.titulo {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: bold;
    align-self: flex-start;
}

.slogan {
    color: rgb(255, 255, 255);
    font-size: 27px;
    font-weight: bold;
    text-align: left;

    margin-top: 20px;
}

.botao {
    margin-top: 80px;

    background-color: #1C3AA9;
    color: rgb(255, 255, 255);

    padding: 15px 200px;
    border-radius: 40px;

    font-size: 15px;
    font-weight: bold;

    transition: 0.3s;
}

.botao:hover {
    transform: scale(1.05);
    background-color: #152c7e;
}

.header-logo {
    margin-bottom: 100px;
}